.app-header {
  height: 80px;
  background-color: #222;
  width: 100%;

}

.app-title {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 20px
}

.main {
  padding: 20px;
  margin: auto;
  width: 50%;
}
